html {
    display: block;
    overflow: hidden;
}

body {
    min-width: 1153px;
    margin: 0 0 0 0;
    overflow: hidden;
}

.format ul {
    list-style-type: none;
}

.format li {
    display: inline-block;
}

.format a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial, sans-sarif;
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;
}

.format a:hover {
    text-decoration: underline;
}

.outer-wrapper{
    margin-top: -36.7px;
    float: right;
}

.nav ul {
    padding-left: 0;
}

.nav {
    margin-top: -10px;
    padding: 0 0 0 0;
    width: 1915px;
    overflow: hidden;   
}

.icon {
    height: 15px;
    width: 15px;
    vertical-align: middle;
}

#avatar {
    height: 2.5em;
    width: 2.5em;
}

#wrapper {
    width: 1241px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    margin-top: 130px;
}

#wrapper #logo {
    margin: 0 -100%;
    vertical-align: middle;
}

.search-box {
    border-radius: 24px;
    display: inline-block;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
}

.centered {
    padding-top: 5px;
    margin-top: 21px;
    height: 150px;
}

.search-box {
    display: inline-block;
}
.search-box input {
    margin-top: -38px;
    width: 515px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    border: 0;
}

.search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


#search-icon {
    max-width: 15px;
    max-height: 15px;
    margin: 14 10 0 0;
}

.buttons {
    margin-top: 20px;
}

.buttons input {
    height: 36px;
    width: 127.41px;
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.buttons input:hover {
    border: 1px solid #c6c6c6;
    color: #222;
    box-shadow: 0 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

#luck {
    width: 142.467px;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 38px;
    min-width: 1153px;
    overflow: hidden;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    left: 0;
