/*This is the CSS file for the Google Homepage: Easy Tag for The Odin Project.*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

h1#logo {
    background: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png") top left no-repeat;
    background-size: 100%;
}